@model IEnumerable<IFS_Weather.Models.UserModel>

@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        body {
            background-image: url(../../assests/blur.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
        }

        #main {
            height: auto;
            width: 1200px;
            background-image: url(../../assests/manzara.jpg);
            border-radius: 15px;
            margin: 30px auto auto auto;
            background-size: cover;
            background-repeat: no-repeat;
            border-color: black;
            border-width: 20px;
            justify-content: flex-end;
            align-items: flex-end;
            vertical-align: bottom
        }

        .header {
            height: 350px;
            padding: 30px
        }

        .weatherInfoHeader {
            height: 50px;
            padding-left: 5px;
            padding-top: 20px
        }

        .weatherinfo {
            height: 200px;
            width: 1200px;
            opacity: 0.5;
            border-radius: 0 0 15px 15px;
            flex-direction: row;
        }

        .parent-style-one a {
            text-decoration: none;
            color: black
        }
    </style>
    <script>
         $(document).ready(function(){
          $("#getdata").on("click",function()
          {
           alert('Veriler başarıyla çekildi.');
          });

         });

    </script>
</head>
<body>
    <div class="header">
        <h1 style="color: white">Admin</h1>
        <hr />
        <h2 style="color:white">Veritabanına Aktarım</h2>
        <div class="parent-style-one">
            <button id="getdata">@Html.ActionLink("Verileri Çek", "UpdateWeatherInfo")</button>
        </div>
        <h2 style="color:white;text-decoration:none">Kullanıcı Yönetimi</h2>
        <div class="parent-style-one">
            <button>@Html.ActionLink("Kullanıcı Yönetimi", "UserManagement")</button>
        </div>
        <h2 style="color:white;text-decoration:none">Hava Durumu Yönetimi</h2>

        <div class="parent-style-one">
            <button>@Html.ActionLink("Hava Durumu Yönetimi", "WeatherManagement")</button>
        </div>
        <h2 style="color:white;text-decoration:none">Oracle Veritabanına Aktarım</h2>

        <div class="parent-style-one">
            <button id="getdata">@Html.ActionLink("Oracle Veritabanına Aktarım", "TransferToDatabase")</button>
        </div>
        <br />
        <a href="LogOut" style="color:white ;margin-left:20px;margin-right:20px;text-decoration:none;float:right"><img src="assests/logout-red.png" style="height:20px;width:20px;" />Çıkış Yap</a>
        <a href="Profile" style="color:white;margin-left:20px;text-decoration:none;float:right"><img src="assests/man.png" style="height:20px;width:20px;" />Profil</a>
        <a href="Index" style="color: white; margin-left:20px;text-decoration:none;float:right"><img src="assests/home-blue.png" style="height: 20px; width: 20px;" />Ana Sayfa <span class="sr-only">(current)</span></a>
        @if (User.IsInRole("Yönetici"))
        {
            <a href="Admin" style="color: white; margin-left:20px;text-decoration:none;float:right"><img src="assests/settings.png" style="height: 20px; width: 20px;" />Yönetici Paneli <span class="sr-only"></span></a>
        }
    </div>

</body>
</html>



