@model IFS_Weather.Models.UserModel

@{
    ViewBag.Title = "Profile";
}
<!DOCTYPE html>
<html>
<head>

    <title></title>
    <style>
        body {
            background-image: url(../../assests/blur.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
        }

        #main {
            height: 600px;
            width: 1200px;
            background-image: url(../../assests/manzara.jpg);
            border-radius: 15px;
            margin: 30px auto auto auto;
            background-size: cover;
            background-repeat: no-repeat;
            border-color: black;
            border-width: 20px;
            justify-content: flex-end;
            align-items: flex-end;
            vertical-align: bottom
        }

        .header {
            height: 350px;
        }

        .weatherInfoHeader {
            height: 50px;
            padding-left: 5px;
            padding-top: 210px
        }

        .weatherinfo {
            height: 200px;
            width: 1200px;
            background-color: black;
            opacity: 0.5;
            border-radius: 0 0 15px 15px;
            flex-direction: row;
        }

        .profile-card {
            padding-top: 30px;
            width: 800px
        }

        .profile-info {
            width: 800px
        }
    </style>
</head>
<body>
    <div id="main">
        <div class="header">
            <center>
                <div class="profile-card">

                    <img src="~/assests/man.png" style="height:100px;width:100px;margin-bottom:30px" />


                    <table class="table">
                        <tr>
                            <th style="color:white">
                                Kullanıcı Adı
                            </th>
                            <th style="color:white">
                                @Model.Username
                            </th>
                        </tr>
                        <tr>
                            <th style="color:white">
                                Ad-Soyad
                            </th>
                            <th style="color:white">
                                @Model.Name
                            </th>

                        </tr>
                        <tr>
                            <th style="color:white">
                                Şifre
                            </th>
                            <th style="color:white">
                                **************
                            </th>

                        </tr>
                        <tr>
                            <th style="color:white">
                                Şehir
                            </th>
                            <th style="color:white">
                                @Model.DefaultCityName
                            </th>
                        </tr>
                    </table>
                </div>
                <input type="submit" value="Bilgileri Güncelle" class="btn btn-default" />

            </center>


        </div>
        <div class="weatherInfoHeader">
            <a href="LogOut" style="color: white;margin-left: 20px;margin-right: 20px;text-decoration: none;float: right"><img src="~/assests/logout-red.png" style="height:20px;width:20px;" />Çıkış Yap</a>
            <a href="Profile" style="color:white;margin-left:20px;text-decoration:none;float:right">
                <img src="~/assests/man.png" style="        height: 20px;
        width: 20px;" />Profil
            </a>
            <a href="Index" style="color: white; margin-left:20px;text-decoration:none;float:right"><img src="~/assests/home-blue.png" style="height: 20px; width: 20px;" />Ana Sayfa <span class="sr-only">(current)</span></a>
        </div>
    </div>
</body>
</html>

